@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="index">
    <input type="text" name="mã sinh viên">
     <input type="text" name="Họ và tên ">
     <input type="submit" value=" đăng nhập ">
</form>
<h1>@ViewBag.Message</h1>
